/* ------------------SM-------------------- */
@media screen and (min-width: 576px) {
  #hero .hero__contant .hero_btn {
    justify-content: center;
  }
}

/* ------------------MD-------------------- */
@media screen and (min-width: 640px) {
  #hero .hero-image .inner {
    width: 85%;
    margin-inline: auto;
  }
  .hero-image .image {
    aspect-ratio: 16 / 10;
  }
  .trophy {
    padding: 21px !important;
  }
  .section-header p::before,
  .section-header p::after {
    width: 60px;
  }
  .carousel-btns {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
  }
  .view-all {
    max-width: 213px;
  }
  .my-prev,
  .my-next {
    width: 52.5px;
    height: 52.5px;
  }
  .spinner-iamge {
    flex: 0 0 5.5rem;
  }
}

/* ------------------LG-------------------- */
@media screen and (min-width: 768px) {
  #hero .hero-image .inner {
    width: 65%;
  }
  hero-image .image {
    aspect-ratio: 18 / 12;
  }
  .my-prev,
  .my-next {
    width: 48px;
    height: 48px;
  }
  .what-cards .inner i {
    font-size: 1.5rem;
  }
  .team-content h5 {
    font-size: 20px;
  }
  .team-image {
    aspect-ratio: 1;
  }
}

/* ------------------Xl-------------------- */
@media screen and (min-width: 992px) {
  #hero .hero-image .inner {
    width: 100%;
  }
  #hero .hero__contant .hero_btn {
    justify-content: start;
  }
  .nav-icons {
    flex-direction: row !important;
    align-items: center;
    gap: 8px !important;
    margin-top: 0 !important;
  }
  .notify,
  .message {
    display: none;
  }
  .collapse ul {
    margin-top: 0;
    border-top: none;
    border-bottom: none;
  }
  .collapse ul li {
    padding-block: 0;
    /* margin-bottom: 8px !important; */
  }
  .my-prev,
  .my-next {
    width: 56px;
    height: 56px;
  }
  .what-icon {
    width: 64px;
    height: 6+4px;
  }
  .fade-layer {
    background: radial-gradient(
      ellipse 73% 50% at center,
      #84cc16 0%,
      #4d7c0f 0%,
      transparent 70%
    );
  }
  .spinner-iamge {
    flex: 0 0 6rem;
  }
  #our-team .section-header h4,
  #contact-us .section-header h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .team-image {
    aspect-ratio: 8/12;
  }
  .team-content h6 {
    line-height: 1.2;
    font-size: 14px;
  }
  .team-content span {
    font-size: 12px;
  }
  .team-content {
    right: 10%;
  }
  .data h6 {
    font-size: 20px;
  }
  .data p {
    font-size: 16px;
  }
  .data-liner h6 {
    font-size: 24px;
  }
  .data-liner p {
    font-size: 16px;
  }
  .form h5 {
    font-size: 24px;
  }
  label {
    font-size: 14px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 16px;
  }
  .foot-icon i {
    font-size: 20px;
  }
  .list-titel li,
  .footer-header p {
    font-size: 16px;
  }
  .copy p,
  .copy-links a {
    font-size: 16px;
  }
}

/* ------------------Xl*-------------------- */
@media screen and (min-width: 1024px) {
  .team-image {
    aspect-ratio: 8/10;
  }
}

/* ------------------Xxl-------------------- */
@media screen and (min-width: 1400px) {
  #hero .hero__contant p {
    margin-inline: 0;
  }
}
